    .helmetImage {
        width: 150px;
        height: 150px;
    }
    
    .amuletImage {
        width: 150px;
        height: 150px;
    }
    
    .pouchImage {
        width: 150px;
        height: 150px;
    }
    
    .keyImage {
        width: 150px;
        height: 150px;
    }